/* кольори */
:root{
--color-brand:#2B7FFF;
--color-brand-dark:#011C44;
--color-brand-white: #FFFFFF;
--color-secondary-dark-gray: #4A4A4A;
--color-secondary-medium-gray: #747272;
--color-secondary-dark-blue: #011F4A;
--color-secondary-yellow: #FFD028;
}

ul{
    list-style-type: none;
}

/* Кнопка */
.button-order{
    width: 219px;
    height: 53px;
    opacity: 1;
    gap: 10px;
    border-radius: 32px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    color: var(--color-brand-white);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    cursor: pointer;
}

.button-order:hover{
    color: var(--color-brand-dark);
    background-color: transparent;
}

.link{
    color:var(--color-brand-dark);
}

.link:hover{
    color: var(--color-brand);
}

/* Hero section */
.hero-title{
    color: var(--color-brand);
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 140px;
    line-height: 114px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.accent{
    color: var(--color-brand);
}

.text-1section{
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-secondary-dark-gray);
}

.header-2-text{
    color:var(--color-brand-dark);
    font-family: Play;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
}

.text{
    color: var(--color-brand-dark);
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0%;
}

.fat-text{
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.text-3-section{
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color:#000000;
}

.header-3-text{
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: var(--color-brand-white);
}